<div class="reminders_wrapper">
	<div class="content">
		<%= form_for(@reminder) do |f| %>
			<div class="field">
				<%= f.label :reminder %><br>
				<%= f.text_area :content %>
				<%= f.date_field :for_date, min: Date.today, :value => Date.today %>
			</div>
			<div class="actions">
				<%= f.submit "Create" %>
			</div>
		<% end %>
	</div>
</div>